.Rproj.user
.Rhistory
.RData
.Ruserdata

#Large data directories
All_samples_metadata/
Australia_Feburary_2020/
Fulcrum_Export_e6ca49b1-7b91-4f10-8cf1-7ff2b94c2fe7/
ImageXpress_assays/
plots/
Protocols/
TotransfertoAmandaP*/
*.zip

#data files and plots
*.csv
*.jpeg
*.svg
*./.png
*.xlsx
*.docx
*.html

#files not relevant to study
20241014_freezeDataGaotian (1).R
20241014_freezeDataGaotian.R
easyXpress_1weekcold.Rmd
easyXpress_FFKmedium.html
easyXpress_FFKmedium.Rmd
freeze_tolerance_gaotian.Rmd
sampling_temperatures_seasonality.Rmd
easyXpress_cold_trials.Rmd
